.autenticacao {
    display: flex;
    flex-direction: column;
    grid-area: lista-usuarios;
    background-color: #7687a1; /* Mesma cor de fundo usada no Formulário */
    border-radius: 10px;
    box-shadow: 2px 4px 4px #0000009f;
    padding: 16px;
  
    h1 {
      color: #ffffff;
      font-size: 2rem;
      margin-bottom: 20px;
      text-align: center;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      font-size: 1.1rem;
  
      th,
      td {
        padding: 12px 16px;
        text-align: left;
        border-bottom: 1px solid #ccc;
        color: #ffffff;
      }
  
      th {
        background-color: #5d677c;
        font-weight: bold;
      }
  
      tr:nth-child(even) {
        background-color: #4e596b;
      }
  
      tr:hover {
        background-color: #3a4755;
        cursor: pointer;
      }
    }
  
    .emptyState {
      color: #ffffff;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 20px;
    }
  
    @media screen and (min-width: 1280px) {
      padding: 24px;
  
      h1 {
        font-size: 2.5rem;
      }
  
      table {
        font-size: 1.25rem;
  
        th,
        td {
          padding: 16px 20px;
        }
      }
    }
  }
  