.novoFormularioBase {
    display: flex;
    flex-direction: column;
    background-color: #3a4a65; /* Cor mais neutra e suave para o fundo */
    border-radius: 8px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    transition:
      background-color 0.3s ease,
      box-shadow 0.3s ease;
  
    &:hover {
      background-color: #2a3b52; /* Mudança sutil de cor no hover */
      box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.3);
    }
  
    .inputContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
  
      label {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 8px;
        color: #e0e0e0; /* Cor do texto do label */
      }
  
      input {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
        background-color: #4c5a73;
        border: 1px solid #4f5c6a;
        border-radius: 5px;
        box-sizing: border-box;
        color: #fff;
        transition: all 0.3s ease;
  
        &::placeholder {
          color: #c0c0c0;
        }
  
        &:focus {
          border-color: #6b7d97;
          outline: none;
          background-color: #5b6f85;
        }
      }
    }
  
    .inputContainer:last-of-type {
      margin-bottom: 0; /* Remove o espaçamento extra do último campo */
    }
  
    @media screen and (min-width: 768px) {
      width: 70%; /* Ajusta a largura do formulário em telas maiores */
      padding: 24px;
    }
  
    @media screen and (min-width: 1280px) {
      width: 50%;
      padding: 32px;
      font-size: 1.25rem;
    }
  }
  
  button {
    width: 100%;
    padding: 14px;
    background-color: #5b6f85;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #4a5c72;
    }
  
    &:active {
      background-color: #3e4b5f;
    }
  }
  